<div class="posts ">
    {{#each posts}}
        <div class="card">
            <a  class="list-item " href="/dashboard/edit/{{id}}">
                <h2>{{title}}</h2>
                <p>{{body}}</p>        
            </a>
        </div>
      {{/each}}
</div>