<div class="card">
    <h2>Login</h2>
    <form id="login-form" class"card-body">
        <label for="username-input" class="label">Username</label>
        <input type="text" id="username-input" class="input"/>
        <label for="password-input" class="label">Password</label>
        <input type="password" id="password-input" class="input"/>
        <button type="submit" id="login" class="btn">Login</button>
        <a type="button" class="btn" href="/signup">Don't have an account? Sign up here!</a>
    </form>
</div>

<script src="/js/login.js"></script>