<div class="card">
    <h2>Sign Up!</h2>
    <form id="signup-form" class"card-body">
        <label for="username-input" class="label">Username</label>
        <input type="text" id="username-input" class="input"/>
        <label for="password-input" class="label">Password</label>
        <input type="password" id="password-input" class="input"/>
        <button type="submit" id="signup" class="btn">Sign Up!</button>
        <a type="button" class="btn" href="/login">Have an account? Login up here!</a>
    </form>
</div>

<script src="/js/signup.js"></script>